<div class="card card-stats">
      <div class="card-header card-header-success">
            <div class="ct-chart" id="temperatureChart">
                  <h5>Air Temperature (°C)</h5>
            </div>
      </div>
      <br>
      <div class="chart-wrapper">
            <ngx-charts-line-chart [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [autoScale]="autoScale"
                  [timeline]="timeline" [yScaleMin]="yscaleMin" [yScaleMax]="yscaleMax" [roundDomains]="roundDomains"
                  (select)="onSelect($event)">
                  <ng-template #tooltipTemplate let-model="model">
                  <div >
                        {{model.name | date :'short'}} - {{model.value| number:'1.0-1'}}°C
                  </div>
                  </ng-template>
            </ngx-charts-line-chart>
      </div>
      <div class="card-footer-large">
            <div class="stats">
                  <span class="text-info">Minimum </span>{{minTemp| number:'1.0-1'}}°C on <span
                        class="text-info">{{coldestDay| date :'EEEE'}} at {{coldestDay| date :'hh:mma'}}</span> |
                  <span class="text-danger">Maximum </span>{{maxTemp| number:'1.0-1'}}°C on <span
                        class="text-danger">{{hottestDay| date :'EEEE'}} at {{hottestDay| date :'hh:mma'}}</span>
            </div>
      </div>
</div>