<div class="card card-stats">
  <div class="card-header card-header-success">
    <div class="ct-chart" id="soilChart">
      <h5>Soil Moisture (%)</h5>
    </div>
  </div>
  <br>
  <div class="chart-wrapper">
    <ngx-charts-line-chart [yScaleMin]="yscaleMin" [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [autoScale]="autoScale" [timeline]="timeline"
      [roundDomains]="roundDomains" (select)="onSelect($event)">
      <ng-template #tooltipTemplate let-model="model">
          <div >{{model.name | date :'EEE'}} at {{model.name | date :'hh:mma'}} </div>
          <div> {{model.value| number:'1.0-1'}}%</div>
    </ng-template>
    </ngx-charts-line-chart>
  </div>
  <div class="card-footer-large">
    <div class="stats">
      <span class="text-danger">Dryest </span>{{minMoisture| number:'1.0-1'}}% on <span
        class="text-danger">{{dryestDay| date :'EEEE'}} at {{dryestDay| date :'hh:mma'}}</span> |
      <span class="text-success">Wettest </span>{{maxMoisture| number:'1.0-1'}}% on <span
        class="text-success">{{wettestDay| date :'EEEE'}} at {{wettestDay| date :'hh:mma'}}</span>
    </div>
  </div>
</div>