<div class="card card-stats">
  <div class="card-header card-header-success">
        <div class="ct-chart" id="temperatureChart">
              <h5>Air Pressure (hPa)</h5>
        </div>
  </div>
  <br>
  <div class="chart-wrapper">
        <ngx-charts-line-chart [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [autoScale]="autoScale"
              [timeline]="timeline" [yScaleMin]="yscaleMin" [yScaleMax]="yscaleMax" [roundDomains]="roundDomains"
              (select)="onSelect($event)">
              <ng-template #tooltipTemplate let-model="model">
              <div >
                    {{model.name | date :'short'}} - {{model.value| number:'1.0-1'}}hPa
              </div>
              </ng-template>
        </ngx-charts-line-chart>
  </div>
</div>